* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body.fade {
    opacity: 0;
}

body {

    background-image: url(https://static01.nyt.com/newsgraphics/2022/01/10/meditation/assets/images/03-1050_x2.jpg);
    /* radial-gradient(circle, rgb(246, 231, 212) 0%, rgba(241,235,225,1) 37%, rgb(247, 244, 238) 80%, rgb(244, 241, 235) 83%, rgba(248,249,242,1) 100%); */
    /* (circle, rgba(227,156,123,1) 0%, rgba(227,156,123,1) 13%, rgba(181,156,116,1) 64%, rgb(224, 227, 212) 100%); */
    /* radial-gradient(circle, rgb(246, 231, 212) 0%, rgba(241,235,225,1) 37%, rgb(247, 244, 238) 80%, rgb(244, 241, 235) 83%, rgba(248,249,242,1) 100%); */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    opacity: 1;
    transition-duration: 3.0s;
    transition-property: opacity;
}

nav {
    padding: 8px;
    padding-right: 78px;
    padding-top: 40px;
}

.navbar-logo {
    float: left;
    padding-left: 78px;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.img-fluid {
    width: 46px;
    height: 46px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:not(:last-child) {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600px;
}



button, #submit-button {
    background-color: rgb(8, 9, 8);
    border: none;
    color: rgba(248, 244, 245, 0.911);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:active {
    transform: scale(0.78);
}

.display {
    font-size: 90px;
}

#wodImage {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: auto;
}

.header {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    text-align: center;
}

#workout {
    padding-top: 70px;
}

p {
    margin: 0;
    padding: 0;
}

.about-modal {
    width: 100%;
    height: 100%;
    background-image: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.about-content{
    width: 500px;
    height: 300px;
    background-color: white;
    background-size: inherit;
    padding: 30px;
    position: relative;
}
#close, #close-newsletter{
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
}

.newsletter-modal {
    width: 100%;
    height: 100%;
    background-image: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.newsletter-content{
    width: 500px;
    height: 300px;
    background-color: white;
    background-size: inherit;
    padding: 30px;
    position: relative;
}

input {
    padding: 13px 32px;
    font-size: 16px;
    border-radius: 0;
}
